<!DOCTYPE html>
<html>

<head>
	<title>Wyze Cam Pan <%if (user && canControl) { %>Controller<% }else{ %>Viewer<% } %></title>
	<link rel="apple-touch-icon" sizes="57x57" href="./img/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="./img/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="./img/favicons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="./img/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="./img/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="./img/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="./img/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="./img/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="./img/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="./img/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="./img/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="./img/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="./img/favicons/favicon-16x16.png">
	<link rel="manifest" href="./img/favicons/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="./img/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<style type="text/css">
		html,
		body {
			background-color: #111;
			text-align: center;
			overflow: hidden;
			margin: 0;
			border: 0;
			padding: 0;
		}

		img {
			z-index: 999 !important;
			cursor: pointer;
		}

		input[type=checkbox] {
			height: 0;
			width: 0;
			visibility: hidden;
		}

		label {
			cursor: pointer;
			text-indent: -9999px;
			width: 100px;
			height: 50px;
			background: grey;
			display: block;
			border-radius: 50px;
			position: relative;
		}

		label:after {
			content: '';
			position: absolute;
			top: 2.5px;
			left: 2.5px;
			width: 45px;
			height: 45px;
			background: #fff;
			border-radius: 45px;
			transition: 0.3s;
		}

		input:checked+label {
			background: #bada55;
		}

		input:checked+label:after {
			left: calc(100% - 2.5px);
			transform: translateX(-100%);
		}

		label:active:after {
			width: 65px;
		}


		.minor-image {
			width: 7.5vmax;
		}

		.major-image {
			width: 15vmax;
		}

		.shadowed {
			-webkit-filter: drop-shadow(0px 0px 10px #FFFFFF);
			filter: drop-shadow(0px 0px 10px #FFFFFF);
			opacity: 50%;
		}

		.modal {
			display: none;
			position: fixed;
			z-index: 9999;
			padding-top: 100px;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: auto;
			background-color: rgb(0, 0, 0);
			background-color: rgba(0, 0, 0, 0.4);
		}

		.modal-content {
			border-radius: 25px;
			background-color: #fefefe;
			margin: auto;
			padding: 20px;
			border: 1px solid #888;
			width: 80%;
		}

		.close {
			color: #aaaaaa;
			float: right;
			font-size: 28px;
			font-weight: bold;
		}

		.close:hover,
		.close:focus {
			color: #000;
			text-decoration: none;
			cursor: pointer;
		}

		.container {
			position: absolute;
		}

		.container,
		.containertable {
			width: 100%;
			height: 100%;
			max-width: 100%;
			max-height: 100%;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			border: 0;
			margin: 0;
			padding: 0;
			border-spacing: 0;
			border-collapse: collapse;
		}

		.centered {
			text-align: center;
		}

		.halign-right {
			text-align: right;
		}

		.halign-left {
			text-align: left;
		}

		.centered-vert {
			top: 0;
			bottom: 0;
			margin: auto;
		}

		td.centered {
			width: 100%;
		}
	</style>
	<script>
		function move(direction) {
			var xhttp = new XMLHttpRequest();
			xhttp.open("GET", `/${direction}`, false);
			xhttp.send();
		}

		function nightmode(onOrOffBoolean) {
			var xhttp = new XMLHttpRequest();
			xhttp.open("GET", `/nightmode?on=${onOrOffBoolean.toString()}`, false);
			xhttp.send();
		}

		function refreshUserSettings(){
			var xhttp = new XMLHttpRequest();
			xhttp.open("GET", "/usersettings", false);
			xhttp.send();
			try{
				allUsers = JSON.parse(xhttp.responseText);
			}catch(err){
				window.location.reload();
			}
		}
		function canadmin(email, onOrOffBoolean) {
			var xhttp = new XMLHttpRequest();
			xhttp.open("GET", `/canadmin?on=${onOrOffBoolean.toString()}&email=${encodeURIComponent(email)}`, false);
			xhttp.send();
			refreshUserSettings();
		}
		function cancontrol(email, onOrOffBoolean) {
			var xhttp = new XMLHttpRequest();
			xhttp.open("GET", `/cancontrol?on=${onOrOffBoolean.toString()}&email=${encodeURIComponent(email)}`, false);
			xhttp.send();
			refreshUserSettings();
		}

		function showModal() {
			refreshUserSettings();
			document.getElementById('settings-modal').style.display = 'block';
		}

		function hideModal() {
			document.getElementById('settings-modal').style.display = 'none';
			document.getElementById('settings-form').reset();
			document.getElementById("canControl").disabled = true;
			document.getElementById("canAdmin").disabled = true;
		}
		window.onclick = function (event) {
			if (event.target == document.getElementById('settings-modal')) {
				hideModal();
			}
		}
	</script>
</head>

<body>
	<canvas id="video-canvas" style="max-width: 100%; max-height: 100%;"></canvas>
	<script type="text/javascript" src="./js/jsmpeg.min.js"></script>
	<div class="container">
		<table class="containertable">
			<tr style="vertical-align: top;">
				<td class="halign-left">
					<%if (canAdmin) { %>
					<div id="settings-modal" class="modal">
						<div class="modal-content">
							<span onclick="hideModal();" class="close">&times;</span></select>
							<form id="settings-form">
								Email: <select id="email-select" onchange="emailSelectChanged()">
									<option disabled selected>--- Select Email ---</option>
									<%
									for (const [email, settings] of Object.entries(userList)) {
										%><option value="<%=email %>"><%=email %></option><%
									}
									%>
								</select><br />
								Control: <input type="checkbox" disabled onchange="canControlChange()"
									id="canControl"><label for="canControl">Toggle</label><br />
								Admin: <input type="checkbox" disabled onchange="canAdminChange()" id="canAdmin"><label
									for="canAdmin">Toggle</label>
							</form>
						</div>
					</div>
					<script>
						var allUsers = JSON.parse(atob("<%- Buffer.from(JSON.stringify(userList)).toString('base64') %>"));

						var isSettingCurrent = false;

						function emailSelectChanged() {
							isSettingCurrent = true;
							var email = document.getElementById("email-select").value;
							document.getElementById("canControl").checked = allUsers[email].canControl;
							document.getElementById("canAdmin").checked = allUsers[email].canAdmin;
							document.getElementById("canControl").disabled = false;
							document.getElementById("canAdmin").disabled = false;
							console.log(`Settings for "${email}" have been populated!`);
							isSettingCurrent = false;
						}

						function canControlChange() {
							if (isSettingCurrent) return;
							var email = document.getElementById("email-select").value;
							cancontrol(email, document.getElementById("canControl").checked)
						}

						function canAdminChange() {
							if (isSettingCurrent) return;
							var email = document.getElementById("email-select").value;
							canadmin(email, document.getElementById("canAdmin").checked)
						}
					</script>
					<img onclick="showModal();" class="shadowed minor-image" src="./img/settings.png" />
					<% } %>
				</td>
				<td class="centered">
					<%if ((user && canControl) || anonymousControl) { %>
					<img onclick="move('up');" class="shadowed major-image centered" src="./img/up.png" />
					<% } %>
				</td>
				<td class="halign-right">
					<%if (loginEnabled){%>
					<%if (user) { %>
					<a href="/logout"><img class="shadowed minor-image" src="./img/logout.png" /></a>
					<% }else{ %>
					<a href="/login"><img class="shadowed minor-image" src="./img/login.png" /></a>
					<% } %>
					<% } %>
				</td>
			</tr>
			<tr style="vertical-align: middle;">
				<td class="halign-left">
					<%if ((user && canControl) || anonymousControl) { %>
					<img onclick="move('left');" class="shadowed major-image" src="./img/left.png" />
					<% } %>
				</td>
				<td class="centered"></td>
				<td class="halign-right">
					<%if ((user && canControl) || anonymousControl) { %>
					<img onclick="move('right');" class="shadowed major-image" src="./img/right.png" />
					<% } %>
				</td>
			</tr>
			<tr style="vertical-align: bottom;">
				<td class="halign-left">
					<%if ((user && canControl) || anonymousControl) { %>
					<img onclick="move('calibrate');" class="shadowed minor-image" src="./img/calibrate.png" />
					<% } %>
				</td>
				<td class="centered">
					<%if ((user && canControl) || anonymousControl) { %>
					<img onclick="move('down');" class="shadowed major-image" src="./img/down.png" />
					<% } %>
				</td>
				<td class="halign-right">
					<%if ((user && canControl) || anonymousControl) { %>
					<img onclick="nightmode(false);" class="shadowed minor-image" style="margin: 1.5vmin;"
						src="./img/night-off.png" />
					<img onclick="nightmode(true);" class="shadowed minor-image" src="./img/night-on.png" />
					<% } %>
				</td>
			</tr>
		</table>
	</div>
	<script type="text/javascript">
		var canvas = document.getElementById('video-canvas');
		var url = 'ws<%if (ssl) { %>s<% } %>://' + document.location.host + '/ws';
		var player = new JSMpeg.Player(url, {
			canvas: canvas
		});
		document.body.addEventListener('touchstart', function () {
			if (player.audioOut.unlocked) {
				player.audioOut.unlocked = false;
			} else {
				player.audioOut.unlock();
			}
		});
	</script>
</body>

</html>